.navbar-checkbox {
    display: none;
}
@media (min-width: 550px) {
    .navbar-nav {
        display: block;
    }
    .navbar-hamburger {
        display: none;
    }
    
            .dropdown-menu {
                display: block;
                opacity: 1;
                position: absolute;
                width: auto;
            }
        }
    }
}